.homeContainer {
    width: 100%;
    // height: 100%;
    // background: url('../../assets/world/layout_bg.png') no-repeat center;
    // background-size: 100% 100%;
    // background: url('./../../assets/img/bg.png') no-repeat center;
    // background-size: cover;
    height: 100%;
    padding-top: 286px;
    padding-bottom: 107px;
    box-sizing: border-box;
    .rightCustomer {
        width: 42px;
        height: 42px;
        background: url('../../assets/world/customer.png') no-repeat center;
        background-size: cover;
        position: absolute;
        right: 12px;
        top: 25px;
        z-index: 1000;
    }
    .centerPart {
        // padding-top: 286px;
        // padding-bottom: 83px;
        height: calc(100% - 433px);
        box-sizing: border-box;
        .tabPart {
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .zuItem {
                flex: 1;
                height: 41px;
                background: url('../../assets/world/zanzu/zz-02.png') no-repeat center;
                background-size: cover;
            }
            .zuItemAct {
                width: 122px;
                height: 50px;
                background: url('../../assets/world/zanzu/zz-01.png') no-repeat center;
                background-size: cover;
            }
            .hdItem {
                flex: 1;
                height: 41px;
                background: url('../../assets/world/hd/hd-02.png') no-repeat center;
                background-size: cover;
            }
            .hdItemAct {
                width: 122px;
                height: 50px;
                background: url('../../assets/world/hd/hd-01.png') no-repeat center;
                background-size: cover;
            }
            .showItem {
                flex: 1;
                height: 41px;
                background: url('../../assets/world/show/show-02.png') no-repeat center;
                background-size: cover;
            }
            .showItemAct {
                width: 122px;
                height: 50px;
                background: url('../../assets/world/show/show-01.png') no-repeat center;
                background-size: cover;
            }
            .aboutItem {
                flex: 1;
                height: 41px;
                background: url('../../assets/world/about/about-02.png') no-repeat center;
                background-size: cover;
            }
            .aboutItemAct {
                width: 122px;
                height: 50px;
                background: url('../../assets/world/about/about-01.png') no-repeat center;
                background-size: cover;
            }
        }
        .title_label {
           width: 228px;
           height: 38px;
           background: url('../../assets/world/zanzu/tit01.png') no-repeat center;
           background-size: cover;
            font-size: 14px;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            line-height: 38px;
            margin: 0 auto;
            margin-top: 31px;
        }
        .swiper_title {
            width: 357px;
            height: 28px;
            background: url('../../assets/world/zanzu/tit02.png') no-repeat center;
            background-size: cover;
            color: #95D1E6;
            text-align: center;
            margin: 0 auto;
            position: relative;
            margin-top: 11px;
            margin-bottom: 15px;
            .title_ccon {
                width: 100%;
                height: 110%;
                line-height: 14px;
                // padding: 0 38px;
                box-sizing: border-box;
                text-align: center;
                font-size: 9px;
                /* 由于 Firefox 也会识别 -webkit- 前缀，所以将文字统一处理， 10 / 12 表示当前文本显示为 10 像素 */
                -webkit-transform: scale(calc(9 / 12));
                transform-origin:  center;
                word-break: break-all;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* 这里是超出几行省略 */
                overflow: hidden;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            .otherTitleCon {
                width: 100%;
                height: 100%;
                line-height: 28px;
                // padding: 0 38px;
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
        .centerSwiper {
            width: 319px;
            height: 213px;
            margin: 0 auto;
        }
        .showCenterSwiper {
            width: 319px;
            height: 222px;
            margin: 0 auto;
        }
        .swip_cont_container {
            width: 319px;
            height: 73px;
            background-color: #000;
            margin: 0 auto;
            position: relative;
            text-align: center;
            .swiper_img_content {
                width: 133.5%;
                height: 69px;
                padding-left: 7px;
                padding-right: 10px;
                // padding-bottom: 15px;
                box-sizing: border-box;
                margin: 0 auto;
                text-align: center;
                font-size: 8px;
                    /* 由于 Firefox 也会识别 -webkit- 前缀，所以将文字统一处理， 10 / 12 表示当前文本显示为 10 像素 */
                    -webkit-transform: scale(calc(9 / 12));
                    transform-origin: left  center;
                    word-break: break-all;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5; /* 这里是超出几行省略 */
                    overflow: hidden;
                    color: #ffffff;
                    line-height: 14px;
                    background-color: #000;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
            }
        }
        .hd_container {
            width: 319px;
            height: 568px;
            margin: 0 auto;
            .hd_dteail_img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .about_container {
            width: 351px;
            height: 588px;
            margin: 0 auto;
            margin-top: 29px;
            position: relative;
            .aboutImg {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            .contentImg {
                width: 308px;
                height: 297px;
                object-fit: contain;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 33px;
                margin: 0 auto;
            }
        }
    }
    .download_btn_group {
        display: flex;
        height: 64px;
        background: #000000;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        .bob_btn {
            width: 150px;
            height: 40px;
            background: url('../../assets/world/zanzu/bob.png') no-repeat center;
            background-size: cover;
        }
        .boyu_btn {
            width: 150px;
            height: 40px;
            background: url('../../assets/world/zanzu/boyu.png') no-repeat center;
            background-size: cover;
        }
    }
}