.swiper-button-next {
    background: url('./../assets/img/gift.png') no-repeat center !important;
    background-size: 100% 100% !important;
}
.swiper-button-prev {
  background: url('./../assets/img/gift.png') no-repeat center !important;
  background-size: 100% 100% !important;
}