.chatPage_container {
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: scroll;
    background: #f9f9f9;
    .emptyContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}