.home_page_container {
    // height: 100%;
        .top_ad_part {
            height: 100px;
            background-color: red;
        }
        .top_tab_part {
            height: 300px;
            background-color: skyblue;
        }
        .middle_swiper_part {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .swiper_label_item {
                width: 25%;
                height: 1000px;
                text-align: center;
            }
        }
        .bottom_part {
    
        }

}

/* PC端 */
@media all and (min-width: 769px) {
    .home_page_container {
        width: 769px;
        margin: 0 auto;
        background-color: #ccc;
    }
}

