* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: white;
}
ul li {
    flex: 1;
    text-align: center;
}

.active {
    color: red;
}

dl {
    height: 50px;
    border-bottom: 1px solid gray;
}
dl dt {
    font-size: 20px;
}
dl dd {
    font-size: 12px;
    color: gray;
}
input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    font-size: 30px;
    box-sizing: border-box;
}