.proxy_container {
    height: 100%;
    position: relative;
    .top_nav_bar {
        height: 90px;
        background: white;
    }
    .all_proxy_list {
        width: 100%;
        height:calc(100% - 90px);
        overflow-y: scroll;
        box-sizing: border-box;
    }
}

// 代理在线状态
.proxy_name {
    font-size: 30px;
}
.socketStatus {
    overflow: hidden;
    width: 20%;
    float: right;
    .proxy_flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .status_point {
            width: 15px;
            height: 15px;
            background: #4ae24a;
            vertical-align: middle;
            margin-right: 10px;
            border-radius: 50%;
        }
        .statusOffLine {
            width: 15px;
            height: 15px;
            background: #ccc;
            vertical-align: middle;
            margin-right: 10px;
            border-radius: 50%;
        }
        .proxy_status {
            font-size: 20px;
        }
    }
}
//代理的累积订单数量
.descript_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    .proxy_store {
        padding: 1px 6px;
        background: #4ed437;
        border-radius: 10px;
        font-size: 20px;
        color: #fff;
    }
    .proxy_num {
        font-size: 20px;
        margin-left: 5px;
    }
}

//全部代理公告弹框
.annoceMent_container {
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .content {
        height: 300px;
        overflow-y: scroll;
        .insert_element {
            height: 100%;
            padding-top: 15px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            // text-indent: 40px;
        }
    }
}