@import 'antd/dist/antd.css';

/* 滚动条样式 */
::-webkit-scrollbar { width: 5px;height: 5px; position: absolute; }
::-webkit-scrollbar-thumb { background-color: #1890ff; }
::-webkit-scrollbar-track { background-color: #ddd; }