.stepform {
    padding-bottom: 20px;
    border-bottom: 20px solid #f0f2f5;
}
.formContent {
    margin: 0 auto;
    margin-top: 30px;
    width: 600px;
    padding: 30px;
}
.steps-content {
    padding-top: 40px;
}