.buttonHeader {
    padding:10px;
    border-bottom: 10px solid #f0f2f5;
    margin-bottom: 10px;
}
.buttonLeft {
   padding-right: 10px;
   border-right: 5px solid #f0f2f5;
   height: 100%;
}
.buttonRight {
    padding-left: 10px;
    border-left: 5px solid #f0f2f5;
    height: 100%;
 }