.user_head_container {
    float: right;
    // padding-right: 50px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    overflow: hidden;
    padding-top: 14px;
    box-sizing: border-box;
    .user_head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
        height: 64px;
        box-sizing: border-box;
        .user_Img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            margin-right: 8px;
        }
        .user_Name {
            color: #666666;
            font-size: 16px;
        }
    }
}
.dropDown_Items {
    width: 90px;
}
.ring_container {
    margin-left: 20px;
    cursor: pointer;
    .messageTips {
        font-size: 23px;
    }
}
