.app .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
    min-height: 300px;
  }
  
  /* Snow Theme */
  .app .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  
  /* Bubble Theme */
  .app .ql-bubble .ql-editor {
    border: 1px solid #ccc;
    border-radius: 0.5em;
  }
  
  .app .ql-editor {
    min-height: 18em;
  }
  .ql-container {
    min-height: 200px !important;
  }
  :where(.css-dev-only-do-not-override-1w0xtfq).ant-list .ant-list-item .ant-list-item-meta {
    align-items: center !important;
  }

  ant-input-affix-wrapper .ant-input:focus {
    border: none !important;
    box-shadow: none !important;
}