.chatRoom_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e7e2e2;
    height: 650px;

    .chatRoom_left_contact {
        width: 15%;
        height: 650px;

        // height: 80%;
        .concat_container {
            height: 100%;
            box-sizing: border-box;

            .concat_search {
                height: 64px;
                // padding: 5px;
                background-color: #f5f0f0;
                box-sizing: border-box;
                border-top: 1px solid #e7e2e2;
                border-bottom: 1px solid #e7e2e2;
                .concat_top_title {
                    text-align: center;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    background: #fff;
                    font-size: 18px;
                }
            }

            .concat_list {
                height: calc(100% - 64px);
                overflow-y: scroll;
                // border-right: 1px solid rgba(5, 5, 5, 0.06);
                box-sizing: border-box;

                .concat_item {
                    width: 100%;
                    padding: 4px 5px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .concat_item_left {
                        display: flex;
                        width: 20%;
                    }

                    .concat_item_right {
                        display: flex;
                        width: 80%;
                        flex-direction: column;
                        align-items: center;

                        .item_line {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                }
                .activeConcat {
                    background: #00B96B;
                }
                .concat_title_info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 10px;
                    position: relative;
                    .concat_name {
                        color: #00000073;
                        white-space: nowrap;
                        width: 50%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .concat_time {
                        color: #00000073;
                        font-size: 13px;
                        white-space: nowrap;
                    }
                }
            }
        }

    }

    .chatRoom_right_content {
        width: 55%;
        height: 650px;
        // height: 80%;
        box-sizing: border-box;
        background-color: #f6f7fb;
        // padding: 10px;
        box-sizing: border-box;
        border-left: 1px solid #e7e2e2;
        border-right: 1px solid #e7e2e2;
        box-sizing: border-box;

        .chatting_item_header {
            background-color: #fff;
            padding: 0 10px;
            height: 64px;
            border-bottom: 1px solid #e7e2e2;
            box-sizing: border-box;
            border-top: 1px solid #e7e2e2;
        }

        .message_wrapper {
            height: calc(100% - 64px);
            overflow-y: scroll;
            // overflow: hidden;
            padding: 10px 10px;
            box-sizing: border-box;

            .message_content {
                .messageList_item {
                    // height: 40px;
                    // min-height: 40px;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    .cusMessage_container {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;

                        .cusMessage_item {
                            width: 60%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-end;

                            .cus_msgIcon {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                            }

                            .cus_textMessage {
                                padding: 8px 10px 25px 10px;
                                background: #fff;
                                border-radius: 15px;
                                margin-right: 15px;
                                line-height: 20px;
                                min-width: 200px;
                                max-width: calc(100% - 200px);
                                box-sizing: border-box;
                                position: relative;

                                .cusMessage_time {
                                    position: absolute;
                                    right: 5px;
                                    bottom: 5px;
                                    color: #ccc;
                                    font-size: 13px;
                                }
                            }

                            .cus_imgMessage {
                                padding: 8px 10px 25px 10px;
                                background: #fff;
                                border-radius: 15px;
                                margin-right: 15px;
                                width: calc(100% - 325px);
                                box-sizing: border-box;
                                position: relative;

                                .cusMessage_time {
                                    position: absolute;
                                    right: 5px;
                                    bottom: 5px;
                                    color: #ccc;
                                    font-size: 13px;
                                }
                            }
                        }
                    }

                    .userMessage_container {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;

                        .userMessage_item {
                            width: 60%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;

                            .user_msgIcon {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                            }

                            .user_textMessage {
                                padding: 8px 10px 25px 10px;
                                background: #fff;
                                border-radius: 15px;
                                margin-left: 15px;
                                line-height: 20px;
                                position: relative;
                                box-sizing: border-box;
                                min-width: 200px;
                                max-width: calc(100% - 200px);

                                .userMessage_time {
                                    position: absolute;
                                    right: 5px;
                                    bottom: 5px;
                                    color: #ccc;
                                    font-size: 13px;
                                }
                            }

                            .user_imgMessage {
                                padding: 10px 10px 25px 10px;
                                background: #fff;
                                border-radius: 15px;
                                margin-left: 15px;
                                box-sizing: border-box;
                                width: calc(100% - 325px);
                                position: relative;

                                .userMessage_time {
                                    position: absolute;
                                    right: 5px;
                                    bottom: 5px;
                                    color: #ccc;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    .recharge_type_message {
                        width: 40%;
                        margin: 0 auto;
                        background: #ececec;;
                        padding: 20px 20px;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 10px;
                        .recharge_info_line {
                            font-size: 16px;
                            margin-bottom: 20px;
                            font-size: 15px;
                            color: #b3a4a4;
                        }
                        .recharge_info_label {
                            font-size: 16px;
                            margin-bottom: 20px;
                            color: #b3a4a4;
                        }
                        .recharge_type_list {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            width: 100%;
                            padding-bottom: 10px;
                            box-sizing: border-box;
                            .type_item {
                                margin: 5px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                .recharge_type_img {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 3px;
                                    margin-bottom: 5px;
                                }
                                .recharge_type_name {
                                    width: 80px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                        .type_message_time {
                            text-align: right;
                            padding: 0 10px;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .send_message {
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            border-top: 1px solid #e7e2e2;
            box-sizing: border-box;

            .fastMessage {
                width: 40px;
                height: 40px;
                background: url('../../assets/imgs/fastMessage.png') no-repeat center;
                background-size: cover;
                cursor: pointer;
            }
            .quickPaytype {
                width: 40px;
                height: 40px;
                font-size: 35px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: #b3b9c8;
                margin: 0 10px;
                cursor: pointer;
            }

            .uploadMessageImg {
                font-size: 30px;
                color: #b3b9b8;
                font-weight: bold;
                margin: 0px 18px;
                cursor: pointer;
                position: relative;

                .uploader_file {
                    width: 100%;
                    height: 100%;
                    display: block;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0;
                    cursor: pointer;
                }
            }

            .messageInput {
                .message_insert {
                    width: 580px;
                }

                .faceIcon {}
            }

            .messageSendBtn {
                width: 40px;
                height: 40px;
                background: url('./../../assets/imgs/sendMessage.png') no-repeat center;
                background-size: cover;
                overflow: hidden;
                cursor: pointer;
                margin-left: 25px;
            }
        }
    }

    .chatRoom_right_info {
        width: 30%;
        height: 650px;
        // height: 80%;
        box-sizing: border-box;
        padding: 30px 10px 0px;
       .right_info_tab_container {
        width: 21%;
        margin: 0 auto;
        height: 62px;
        overflow: hidden;
       }
       .text_message_result {
            padding: 0 10px;
            height: calc(100% - 92px);
            overflow: hidden;
            box-sizing: border-box;
            .message_search_input {
             height: 32px;
             overflow: hidden;
            }
            .message_result_container {
                height: calc(100% - 52px);
                padding: 20px 0px;
                box-sizing: border-box;
                overflow-y: scroll;
                .message_result_item {
                    display: flex;
                    flex-direction: row;
                    border: 1px solid #ccc;
                    padding: 10px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    cursor: pointer;
                    .msg_result_avator {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                    .result_right_part {
                        padding-left: 10px;
                        flex: 1;
                        box-sizing: border-box;
                        .result_top_line {
                            width: 100%;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            padding: 5px;
                        }
                    }
                    .msg_result_content {
                        min-height: 40px;
                        height: auto;
                        padding: 5px;
                        color: #969696;
                    }
                }
            }
       }
       .img_text_result {
        height: calc(100% - 92px);
        box-sizing: border-box;
        overflow-y: scroll;
        .img_text_item {
            margin-bottom: 10px;
            .his_img_time {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                .his_img_time_bg {
                    padding: 3px 15px;
                    border-radius: 15px;
                    background: #939aa4;
                    color: #fff;
                }
            }
            .img_text_group {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
                background: #ececec;
                border-radius: 10px;
                .his_img {
                    margin: 10px;
                    width: 85px;
                    height: 85px;
                    cursor: pointer;
                }
            }
        }
       }
    }
}

.preModalImgContainer {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.confirm_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 80px;

    .conLabel {
        margin-right: 10px;
        // width: 10px;
    }

    .ordContent {
        color: red;
    }
}

.ant-card-body {
    padding: 10px !important;
}

.unread_icon {
    position: absolute;
    top: 5px;
    left: 18px;
}

.payType_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100px;
    padding: 5px 0 ;
    cursor: pointer;
    .payType_img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-right: 10px;        
    }
    .payType_name {
        display: inline-block;
        height: 100%;
        width: 80px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
