.loginCom_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .loginCom {
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo_img {
            width: 80px;
            height: 80px;
        }
        .Login_title {
            font-size: 33px;
            font-weight: 500;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
}
.loginCom_input {
    height: 40px;
    width: 328px;
}
.login_form_button {
    width: 328px;
    height: 40px;
}
.site_form_item_icon {
    font-size: 17px;
}
.verifyCode {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 120px;
    z-index: 100;
}