
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  height: 100%;
  overflow: hidden;
}
.adm-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.myTitle {
  width: 750px;
  height: 100px;
  font-size: 29px;
}
:root:root {
  --adm-color-primary: #ff5f16;
  
}