@import 'antd/dist/antd.css';

html, body, #root, .ant-layout  {
    height: 100%;
}
.logo {
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}


#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
  }
  
  /*首页样式*/
  .baseStyle {
    display: flex;
    margin-bottom: 10px;
    padding:15px;
    border-radius: 5px;
    box-shadow: 0 2px 13px 0 rgb(228 228 228 / 60%)
  }
  .wechat {
    background-color:#70ca63 ;
  }
  .qq {
    background-color:#967adc ;
  }
  .ding {
    background-color:#5d5dfd ;
  }
  .weibo {
    background-color:#fb452d ;
  }

  .wechat>span,.qq>span,.ding>span,.weibo>span {
    font-size: 60px;
    color: white;
 }
 .wechat>div,.qq>div,.ding>div,.weibo>div {
  font-size: 18px;
  color: white;
  margin-left: 20px;
}

/* 添加echarts图标 */
.ant-layout-content {
  overflow-y: auto;
}

.chart{
  display: flex;
  flex: 1;
  margin-top: 30px;
}
#myChart{
  width: 100%;
  height: 600px;
}
.TestCharts {
  display: flex;
  flex:1;
  flex-direction: row;
  margin-top: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
} 
.lineChart, .circleChart{
  height:400px;
  min-width: 45%;
  max-width: 45%;
}
#myChart2,#myChart3{
  width: 100%;
  height: 600px;
}